<div class="col-md-16 text-center" id="player">
  <div class="player__round">
    <div id="jplayer" class="hidden"></div>
    <a class="play" id="play" href="javascript:void(0)"></a>
  </div>
  <div class="player__track">
    <div id="track-loader">
      <div class="player__title">Title</div>
      <div class="player__trackname">Track name</div>
    </div>
  </div>
</div>

<div class="player__volume col-md-6">
  <div class="colname">Громкость</div>
  <div class="player__volume-slider equalizer">
    <ul class="equalizer__container">
      <li class="equalizer__container-element size100" data-size="100">
        <b><div></div></b>
        <a href="javascript:void(0)">
          <div></div>
        </a>
        <span>75%</span>
      </li>
    </ul>
  </div>
</div>