<div class="col-md-16 col-sm-24 col-xs-24 col-lg-19 text-center player__block" id="player">
  <div class="player__round">
    <div id="jplayer" class="hidden"></div>
    <a class="play" id="play" href="javascript:void(0)"></a>
  </div>
  <div class="player__track" id="track-loader">
    <div class="player__title">Title</div>
    <div class="player__trackname">Track name</div>
  </div>
</div>

<div class="player__volume col-md-6 col-lg-4">
  <div class="colname">Громкость</div>
  <div class="player__volume-slider equalizer">
    <ul class="equalizer__container">
      <li class="equalizer__container-element">
        <div class="equalizer__container-point"></div>
        <a class="equalizer__container-line" href="javascript:void(0)">
          <div class="equalizer__container-bg"></div>
        </a>
        <span class="equalizer__container-description">75%</span>
      </li>
    </ul>
  </div>
</div>